<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="margin: 3 auto; display: block;">

          <div style="text-align:center;">
            <h3 style="margin-top: 30px;">Ingreso al sistema</h3>
          </div>

          <ion-button style="margin-top: 50px;" expand="full" (click)="signIn()"><ion-icon name="logo-google"
              slot="start"></ion-icon>Iniciar</ion-button>
           <!--<ion-button expand="full" (click)="signOut()" *ngIf="logued()">Salir</ion-button>
         <ion-button expand="full" (click)="refresh()">Refrescar</ion-button>

          <ion-item *ngIf="user">
            <ion-avatar slot="start">
              <img [src]="user.imageUrl" />
            </ion-avatar>
            <ion-label>
              {{ user.givenName }} {{ user.familyName }}
              <p>{{ user.email }}</p>
            </ion-label>
          </ion-item> 

          <div *ngIf="logued()">
            <ion-button (click)="testeo()">Probar endpoint</ion-button>
          </div> 
-->

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>