<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" slot="content">



  <ion-grid class="grid-container">
    <ion-row>
      <ion-col size="12">
        <ion-textarea placeholder="Describa una observación, opcionalmente puede agregar subítems y fotos..."
          [(ngModel)]="observation.description" name="description"></ion-textarea>
      </ion-col>
    </ion-row>
    <hr *ngIf="observation.description !== ''">
    <ion-row  *ngIf="observation.description !== ''" ion-row style="justify-content: center;">
      <ion-col class="text-center" size="6">
        <ion-button (click)="cargaImg()">
          <ion-icon name="images"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="text-center" size="6">
          <ion-spinner *ngIf="!load && iniLoad" name="circles"></ion-spinner>
          <ion-img *ngIf="load" [src]="src" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-textarea *ngIf="observation.description !== ''" [(ngModel)]="subObservation.description" placeholder="Describa datos relacionados..." name="description">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="observation.description !== ''">
      <ion-col size="12">
        <ion-button (click)="addPhoto()" expand="full">
          <ion-icon name="checkmark-circle"></ion-icon>
          Adjuntar Datos
        </ion-button>  
      </ion-col>
    </ion-row>
  </ion-grid>



  <div *ngIf="observation.photos.length > 0">

    <ion-row class="header-row">
      <ion-col size="6" size-md="4" size-lg="2">
        Decripción
      </ion-col>
      <ion-col size="3" size-md="4" size-lg="2">

      </ion-col>
    </ion-row>

    <ion-row class="data-row; text-gr" *ngFor="let photo of observation.photos; let i= index">
      <ion-col *ngIf="photo.photo" size="5" size-md="4" size-lg="2">
        <ion-label>{{ photo.description  | uppercase}} </ion-label>
      </ion-col>
      <ion-col *ngIf="!photo.photo" size="8" size-md="4" size-lg="2">
        <ion-label>{{ photo.description  | uppercase}} </ion-label>
      </ion-col>
      <ion-col size="3" *ngIf="photo.photo">
        <ion-thumbnail>
          <ion-img [src]="photo.urlPhoto" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" (click)="deletItem(i)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>