.grid-container {
    border: 1px solid rgb(177, 171, 171);
}

.header-row{
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.data-row{
    border-bottom: 1px solid #000;
}

textarea {
    box-shadow: 0px 0px 5px 0px #ccc;
}