<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" slot="content">



  <ion-grid class="grid-container">
    <ion-row>
      <ion-col size="12">
        <ion-textarea placeholder="Describa una observación, también puede agregar fotos..."
          [(ngModel)]="observation.description" name="description"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="observation.description !== ''" ion-row style="justify-content: center;">
      <ion-col class="text-center" size="6">
        <ion-button (click)="cargaImg()">
          <ion-icon name="images"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="text-center" size="6">
        <ion-thumbnail *ngIf="load">
          <ion-img [src]="src" />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="load">
        <ion-textarea [(ngModel)]="photo.description" placeholder="Describa la foto..." name="description-foto">
          
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="load">
        <ion-button (click)="addPhoto()" expand="full">
          <ion-icon name="checkmark-circle"></ion-icon>
          Agregar foto
        </ion-button>  
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf="photosBase64.length > 0">

    <ion-row class="header-row">
      <ion-col size="6" size-md="4" size-lg="2">
        Decripción
      </ion-col>
      <ion-col size="3" size-md="4" size-lg="2">

      </ion-col>
    </ion-row>

    <ion-row class="data-row" *ngFor="let photo of photosBase64">
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-label *ngIf="photo.render"> {{ photo.description }} </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail *ngIf="photo.render">
          <ion-img [src]="photo.photo" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>