<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="volver()">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" slot="content">


  <ion-grid>
    <ion-row>
      <ion-searchbar *ngIf="!userSelect" (ionInput)="filterList($event)"></ion-searchbar>

      <div *ngIf="!userSelect">
        <ion-grid class="text-gr">

          <ion-row class="header-row">
            <ion-col size="6">
              Nombre y apellido
            </ion-col>
            <ion-col size="6">
              Email
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let stuff of users | filter: textFind" class="data-row">
            <ion-col size="4">
              {{ stuff.name}} {{ stuff.surname }}
            </ion-col>
            <ion-col size="6">
              {{ stuff.email }}
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="select(stuff)" size="small">
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll threshold="50px" (ionInfinite)="loadMoreUsers($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-grid>
      </div>
    </ion-row>

    <div *ngIf="userSelect">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Trabajador</ion-card-title>
          <ion-card-subtitle>Trabajador seleccionado</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>Nombre</ion-col>
            <ion-col><span style="font-weight:bold;">{{ userSelect.name }}</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Apellido</ion-col>
            <ion-col><span style="font-weight:bold;">{{ userSelect.surname }}</span></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="horaEntrada != ''">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Horarios definidos</ion-card-title>
          <ion-card-subtitle>Hora de entrada y salida</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>Hora de entrada</ion-col>
            <ion-col>{{ horaEntrada }}</ion-col>
          </ion-row>
          <div *ngIf="horaSalida != ''">
            <ion-row>
              <ion-col>Hora de salida</ion-col>
              <ion-col>{{ horaSalida }}</ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card *ngIf="userSelect">
      <ion-card-header>
        <ion-card-title>Selección de horarios</ion-card-title>
        <ion-card-subtitle>Ingresar hora de entrada y salida</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            Horario de entrada
          </ion-col>
          <ion-col size="6">
            Horario de salida
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-input type="time" [value]="horaEntrada" [(ngModel)]="horaEntrada"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input type="time" [value]="horaSalida" [(ngModel)]="horaSalida"></ion-input>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="userSelect">
      <ion-card-header>
        <ion-card-title>Selección de tareas</ion-card-title>
        <ion-card-subtitle>Selecciona las tareas del trabajador</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>
    </ion-card>



  </ion-grid>



</ion-content>