<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="volver()">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" slot="content">


  <ion-grid>
    <ion-row>
      <ion-searchbar *ngIf="!userSelect" (ionInput)="filterList($event)"></ion-searchbar>

      <div *ngIf="!userSelect">

        <div *ngIf="(users | filter: textFind).length > 0">
          <ion-grid class="text-gr">

            <ion-row class="header-row">
              <ion-col size="6">
                Nombre y apellido
              </ion-col>
              <ion-col size="6">
                Email
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let stuff of users | filter: textFind" class="data-row">
              <ion-col size="4">
                {{ stuff.name}} {{ stuff.surname }}
              </ion-col>
              <ion-col size="6">
                {{ stuff.email }}
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="select(stuff)" size="small">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-infinite-scroll threshold="50px" (ionInfinite)="loadMoreUsers($event)">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-grid>
        </div>
        <div *ngIf="(users | filter: textFind).length == 0">
          <span style="color: rgb(84, 121, 12); text-align: center;">Sin datos...</span>
        </div>
      </div>
    </ion-row>

    <div *ngIf="userSelect">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Trabajador</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>Nombre</ion-col>
            <ion-col><span style="font-weight:bold;">{{ userSelect.name }}</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Apellido</ion-col>
            <ion-col><span style="font-weight:bold;">{{ userSelect.surname }}</span></ion-col>
          </ion-row>
          <div>
            <ion-row>
              <ion-col>Hora de entrada</ion-col>
              <ion-col>{{ horaEntrada }}</ion-col>
            </ion-row>
            <div *ngIf="horaSalida != ''">
              <ion-row>
                <ion-col>Hora de salida</ion-col>
                <ion-col>{{ horaSalida }}</ion-col>
              </ion-row>
            </div>
            <ion-row>
              <ion-col size="6">
                <ion-input style="background-color: orangered; color: white;" type="time" [value]="horaEntrada" [(ngModel)]="horaEntrada"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input style="background-color: orangered; color: white;" type="time" [value]="horaSalida" [(ngModel)]="horaSalida"></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card *ngIf="horaEntrada !== '' && horaSalida !== '' && userSelect ">
      <ion-card-header>
        <ion-card-title>Tareas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Tareas asignadas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-grid *ngIf="stuff.activities.length > 0">
                <ion-row *ngFor="let actvitiestuff of stuff.activities; let i = index">
                  <ion-col size="8">
                    <span style="font-weight:bold;">{{ actvitiestuff.description | uppercase}}</span>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button size="small" (click)="removeActivitie(actvitiestuff,i)">
                      <ion-icon name="remove"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <span *ngIf="stuff.activities.length == 0" style="font-weight:bold;">Sin actividades</span>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Tareas disponibles</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-grid *ngIf="activities.length > 0">
                <ion-row *ngFor="let actvitie of activities; let i = index">
                  <ion-col size="8">
                    <span style="font-weight:bold;">{{ actvitie.description | uppercase }}</span> 
                  </ion-col>
                  <ion-col size="4">
                    <ion-button size="small" (click)="addActivity(actvitie,i)">
                      <ion-icon name="add-circle"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <span style="font-weight:bold;" *ngIf="activities.length == 0">No hay actividades para asignar</span>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>

 



  </ion-grid>



</ion-content>