<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Proyecto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-card-title>Parte Diario de Actividades</ion-card-title>
    <ion-card-subtitle>Proyecto ET 25 de Mayo</ion-card-subtitle>


    <ion-grid class="text-gr">
      <ion-row>
        <ion-col size="6">
          Cliente
        </ion-col>
        <ion-col size="6">
          TEYMA ABENGOA
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Tarea
        </ion-col>
        <ion-col size="6">
          Ensayos - Puesta en Servicio
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Referencia
        </ion-col>
        <ion-col size="6">
          ST22-1286
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Jefe de obra
        </ion-col>
        <ion-col size="6">
          Hernan Crespo
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-accordion-group class="text-gr">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Personal afectado</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

          <ion-button (click)="addStuffModal()" expand="full">
            Nuevo
          </ion-button>
          
          <div *ngIf="stuffs.length > 0">
            <ion-row class="header-row">

              <ion-col size="6" size-md="4" size-lg="2">
                Nombre
              </ion-col>

            </ion-row>

            <ion-row *ngFor="let row of stuffs; let i = index;" class="data-row">

              <ion-col size="6" size-md="4" size-lg="2">
                {{ row.name | uppercase}} {{ row.surname | uppercase }}
              </ion-col>

              <ion-col size="6">
                <ion-button size="small" (click)="stuffDelete(row)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="small" (click)="editStuff(row)">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <div *ngIf="row.activities.length > 0">
                <ion-list>
                  <ion-item *ngFor="let activity of row.activities">
                    {{ activity.description }}
                  </ion-item>
                </ion-list>
              </div>
            </ion-row>
          </div>

        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Actividades desarrolladas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="addActivitiesDeveloped()" expand="full">
            Nuevo
          </ion-button>
          <div *ngIf="activitiesDeveloped.length > 0">
            <ion-row class="header-row">
              <ion-col size="5" size-md="4" size-lg="2">
                Decripción
              </ion-col>
            </ion-row>
            <ion-row class="data-row" *ngFor="let row of activitiesDeveloped; let i = index;">
              <ion-col (click)="seeActDev(row)" size="5" size-md="4" size-lg="2">
                {{ row.description  | uppercase }}
              </ion-col>
              <ion-col size="7">
                <ion-button size="small" (click)="deletActivityDev(row)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="small"(click)="editActivitiesDeveloped(row)">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-list *ngIf="row.stuffs.length > 0">
                <ion-item *ngFor="let stuff of row.stuffs">
                    {{ stuff.name | uppercase }} {{ stuff.surname | uppercase }}
                </ion-item>
              </ion-list>
            </ion-row>
          </div>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Observaciones</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="addObservation()" expand="full">
            Nuevo
          </ion-button>
          <div *ngIf="observations.length > 0">
            <ion-grid>
              <ion-row class="header-row">
                <ion-col size="9" size-md="4" size-lg="2">
                  Decripción
                </ion-col>
              </ion-row>
              <ion-row class="data-row" *ngFor="let row of observations; let i = index;">
                <ion-col (click)="seeDetail(row.description,'Observación','Detalle de observación')" size="6" size-md="4" size-lg="2">
                  {{ row.description  | uppercase }}
                </ion-col>
                <ion-col size="6" size-md="4" size-lg="2">
                  <ion-button (click)="deletObservation(row)" size="small">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-button>
                  <ion-button size="small" (click)="editObservation(row)">
                    <ion-icon name="create" slot="icon-only"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-grid>
                  <ion-row *ngFor="let photo of row.photos">
                    <ion-col (click)="seeDetail(photo.description,'Descripción','Detalle')" *ngIf="!photo.photo" size="12">
                      {{ photo.description  | uppercase }}
                    </ion-col>
                    <ion-col (click)="seeDetail(photo.description,'Descripción de la foto','Detalle')" *ngIf="photo.photo" size="9">
                      {{ photo.description  | uppercase }}
                    </ion-col>
                    <ion-col *ngIf="photo.photo" size="3">
                      <ion-thumbnail *ngIf="photo.photo">
                        <ion-img (click)="seeDetailPhoto(row.description,photo)" [src]="photo.urlPhoto" />
                      </ion-thumbnail>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
            <ion-button (click)="refresh()">
              <ion-icon name="refresh-circle"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-accordion>
      <ion-accordion value="fourth">
        <ion-item slot="header" color="light">
          <ion-label>Actividades a desarrollar</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="addActivityToDev()" expand="full">
            Nuevo
          </ion-button>
          <div *ngIf="activitiesToDev.length > 0">
            <ion-row class="header-row">

              <ion-col size="5" size-md="4" size-lg="2">
                Decripción
              </ion-col>

            </ion-row>

            <ion-row class="data-row" *ngFor="let row of activitiesToDev; let i = index;">
              <ion-col (click)="seeDetail(row.description,'Descripción','Actividad a desarrollar')" size="5" size-md="4" size-lg="2">
                {{ row.description }}
              </ion-col>
              <ion-col size="7">
                <ion-button size="small" (click)="deletActivityToDev(row)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="small"(click)="editActivityToDev(row)" >
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-accordion>
      <ion-accordion value="fifth">
        <ion-item slot="header" color="light">
          <ion-label>Necesidades</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-button (click)="addNeed()" expand="full">
            Nuevo
          </ion-button>
          <div *ngIf="needsNextDay.length > 0">
            <ion-row class="header-row">

              <ion-col size="5" size-md="4" size-lg="2">
                Decripción
              </ion-col>

            </ion-row>
            <ion-row class="data-row" *ngFor="let row of needsNextDay; let i = index;">
              <ion-col (click)="seeDetail(row.description,'Descripción','Necesidad para mañana')" size="5" size-md="4" size-lg="2">
                {{ row.description  | uppercase }}
              </ion-col>
              <ion-col size="7">
                <ion-button (click)="deletNeed(row)" size="small">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button size="small" (click)="editNeed(row)" >
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-button *ngIf="puedeEnviar()" style="margin-top: 10px;">
      Enviar
    </ion-button>

  </ion-content>
</div>