<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-button (click)="cargaImg()">Carga Img</ion-button>

    <ion-thumbnail>
      <ion-img *ngIf="cargo()" [src]="src" />
    </ion-thumbnail>
    <hr>

    <div>
      <ion-button *ngIf="cargo()" (click)="guardaEnRam()">Guardar en ram</ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ng-container *ngIf="registroEnMemoria.length > 0">

            <ion-list *ngFor="let registro of registroEnMemoria; let i = index">
              <ion-item>
                <ion-button>
                  <ion-icon name="eye"></ion-icon>
                  Ver
                </ion-button>
                <ion-button  float-right
                  (click)="enviar(registro)">
                  <ion-icon name="cloud-upload"></ion-icon>
                  Enviar
                </ion-button>

              </ion-item>
            </ion-list>

          </ng-container>

        </ion-col>
      </ion-row>
    </ion-grid>




    <div>
      <ion-button *ngIf="cargo()" (click)="guardaBd()">Guardar</ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
         <ng-container *ngIf="showRegs"> 

            <ion-list *ngFor="let registro of registros">
              <ion-item>
                <ion-button>
                  <ion-icon name="eye"></ion-icon>
                </ion-button>
                <ion-button (click)="enviar(registro)">
                  <ion-icon name="cloud-upload"></ion-icon>
                </ion-button>
                <ion-button (click)="eliminar(registro.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>

         </ng-container> 

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>